
.nav-link:visited,.nav-link:link {
    border-bottom: 2px solid transparent;
}
.nav-link:hover,.nav-link:active {
border-bottom: 2px solid #1bcfc6;
}
.my-name{
  letter-spacing: 0.6vw;
  font-size:clamp(10px, 4vw,25px);
}
.navbar-collapse{
  font-size: 20px;
  display: inline-block;
}

.Hme{
  display:flex;
  column-gap: 5px;
  flex-wrap:wrap-reverse;
  height: auto;
  padding: 15vh 0px 15vh 3rem;

}
.txt{
  flex:1 0 55%;
  align-items: center; 
}
.pp{
  padding: auto;
  flex: 1 1 40%; 
}
#pic{
  display: block;
  float:left;
  margin-left: 50px;
  width: 80%;
  object-fit: fill;
  min-width: 0px;
  max-width: 300px;
  border-radius: 100%;
}
#ls{
  letter-spacing: 3px;
  font-size: clamp(25px,4vw,55px);
  font-family:Comic Sans MS, Comic Sans, Verdana ;
}
#greet{
    font-size: clamp(10px,5vw,25px);
    color: rgb(85, 84, 84);
  }
#nme{
    font-size:clamp(20px,5vw,35px)
  }
.txxt{
  display: block;
  float: right;
  margin-left: auto;
  padding-top: 15vh;
}
.txxt>p{
padding: 0px;
margin: 0px;
font-weight: 600;
}
section[class*=sec]{
text-align: center ;
padding: 2rem;
}
.bigbox{
display:flex;
flex-wrap: wrap;
column-gap:1rem ;
row-gap: 2rem;
}
div[class*=boxinside]{
flex:1 0 30% !important;
border:2px solid black;
border-radius: 30px;
padding:0.8rem 3rem;
}
#spl{
text-align: left;
flex-basis: 100%  !important;
padding: 0px !important;
border-color: white !important;
}
.inheadding{
font-size: clamp(20px,2.8vw,40px) !important;
font-weight: 600 !important;
font-family: 'Courier New', Courier, monospace;
}
.indetail{
font-size: clamp(15px,2vw,25px) !important ;
font-weight: 400 !important;
}
.defination-list{
display: flex;
flex-wrap: wrap;
text-align:left !important;
}
dl{
flex:1 0 40% !important;
}
.projectbox{
display: flex;
column-gap: 20px;
row-gap:20px;
flex-wrap: wrap;
margin:2rem 0px;
}
div[class*=projectcard]{
flex-grow:1;
flex-basis: 40% !important;
text-align: center;
margin: 2rem 0px;
}
.thumbnail{
position: relative;
text-align: center;
}
div[class*=projectcard] button{
display:block;
margin: 2rem auto 1rem;
}
.view-button{
position:absolute;
visibility:hidden;
bottom:0.5rem;
left: 50%;
transform: translateX(-50%);
transition: 0.2s ease;
}
.thumbnail:hover {
transform:translateY(-10px) ;
z-index:21;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.thumbnail:hover .view-button{
visibility:visible;
transform: translateX(-50%) scale(1.1) ;
}
div[class*=projectcard] img{
width: 100%;
height: 300px;
}
a ,.projectbox a,.projectbox a:hover, a:hover{
text-decoration: none;
color:white;
}
.icons-list{
display:inline-block;
padding: 1rem;
margin: auto;
height:5.5rem;
}
.icons-list i{
font-size: 2.5rem;
}
.icons-list i:hover{
text-shadow: 2px 2px 10px #000000;
filter: dropshadow(color=#000000, offx=2, offy=2);

}

@import url( 
'https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 

body { 
  font-family: 'Poppins', sans-serif; 
} 

.textup { 
  text-align: center; 
  color: rgb(11, 118, 11); 
  font-weight: 700; 
} 

i { 
  margin-right: 3px; 
} 

.form-box { 
display: none;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(36, 67, 40, 0.8); 
  padding: 15px; 
  border-radius: 8px; 
  width:95%; 
  max-width: 500px;
text-align: center;
margin: auto;
} 

form { 
  margin: 0 auto; 
} 

label { 
  display: block; 
  margin-bottom: 8px; 
  font-size: 17px; 
  color: green; 
  font-weight: 600; 
} 

input, 
textarea { 
  width: 100%; 
  padding: 8px; 
  margin-bottom: 12px; 
  box-sizing: border-box; 
  border-radius: 10px; 

} 
.view-button{
    border-radius: 25px;
width: 40%;
background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

#feedback{
display: none;
margin: auto;
}
button { 
  background-color: #368b44; 
  color: #fff; 
  padding: 10px; 
  border: none; 
  border-radius: 25px !important; 
  cursor: pointer; 
  width: 60%; 
  font-size: 15px; 
  transition: .2s linear; 
} 
button.feedback{
padding:10px 20px;
width: auto;

}

.form-btn:hover { 
  background-color: #0a6808; 
  border: none; 
  transform: translateY(-10px); 
} 
img.icon{
width: 30px;
}
h1 { 
  color: green; 
}
.lastbar{
display: inline-block;
border:2px solid black;
border-radius: 10px;
padding-left: 0px;

}
.lastbar li{
display: inline-block;
margin:4px 8px;
}
.lastbar li a{
color:black;
font-size: clamp(15px,1.3vw,40px);
}
.lastbar li:hover{
transform: translateY(-10px) !important;
}

.hm-btn{
display: inline-block;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: clamp(10px,2vw,15px);
width: auto;
font-weight: 500;
letter-spacing: 0px;
color: black;
background-color: whitesmoke;
border:2px solid black;
border-radius: 25px; 
}
.hm-btn:hover{
color:#fff;
background-color: #353535;
}

p.section-intro,p.footer {
font-size:clamp(15px,2vw,30px) !important;
color: dimgrey;
margin: 0px;
}
p.sectionheading{
font-size:clamp(25px,8vw,50px) !important;
margin: 0px;
font-weight: 600;
}
.expheadding{
font-size:Clamp(0.8rem,7vw,1.5rem);
color: lightslategray;
font-weight: 600;
}
img.list-iconss{
width:40px;
}
dt{
font-size:clamp(20px,1.6vw,40px);
display: inline-block;
}
dd{
font-size:clamp(15px,1.4vw,30px) !important;
margin-left:40px;
}
.projecttitle{
font-size:clamp(25px,1.8vw,50px);
font-weight: 600;
}
.icons-list img {
width:11vw;
max-width: 70px;
}
.icons-list img:hover {
filter:drop-shadow(10px 10px 10px black);

}
p.lastintro{
margin:20px
}

@media screen and (max-width:1089px) and (min-width:200px) {
dl{
flex:1 0 100%;
}
div[class*=projectcard]{
flex-basis:100% !important;
max-width: 550px;
margin: 2rem auto;
padding: 0px;
}
section[class*=sec]{
text-align: center ;
padding:0px !important;
margin: 1.5vw;
}
@media screen and (max-width:992px){
.nav-link:hover,.nav-link:active {
border-bottom: 2px solid #1bcfc6;
width: max-content;
}
@media  screen and (max-width:852px) {
.Hme{
  padding-top:1rem !important;
  padding-left:0px ;
  margin: 0px;
}
  .txt{
      flex-basis: 100%;
      padding: 0px;
      margin:auto;
  }
  .txxt{
      float: none;
      text-align: center;
      padding:0px;
      margin:auto;
  }
  #pic{
      float: none;
      margin: auto;
      width: 50%;
  }
  #ls{
      letter-spacing: 2px;
  }  
  
  .sec1{
    padding: 10px !important;
  }
  .indetail{
    font-size:0.9rem !important ;
    font-weight: 400 !important;
  } 
  .inheadding{
    font-size: 1.4rem !important;
    font-weight: 500 !important;
  }
  div.defination-list dl{
    text-align: center;
    padding-left: auto;
    display: block;
    flex-basis: 100% !important;
  }
  dd,dt{
    padding: auto;
    text-align: center;
    padding: 0px! important;
    margin: 0px;
  }
  @media screen and (max-width:726px) {
    .bigbox>div{
    flex-basis: 100%; 
  }
  
    
  }
}
}
}
